.topFixedBanner {
    background-image: url("../image/banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: #4e555b;
    overflow: hidden;
}

.topBannerOverlay {
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.topContent {
    margin-top: 10rem;
}

.topTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 48px;
}

.topSubTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 22px;
}

.serviceCard {
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
    -o-box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
}

.serviceCard:hover {
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
    -o-box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
}

.serviceMainTitle {
    text-transform: uppercase;
    font-weight: 600;
    color: #0073E6;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 28px;
}

.serviceName {
    font-size: 22px;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.serviceDescription {
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #7f7e7e;
}

.navTitle {
    width: 150px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff !important;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.navTitleScroll {
    color: #007bff !important;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.navLogoLarg {
    width: 150px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.navLogoSmall {
    width: 100px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.navBackground {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.navBackgroundScroll {
    background-color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.navItem {
    text-decoration: none;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.navbar-dark .navbar-nav .navItem.nav-link:focus, .navbar-dark .navbar-nav .navItem.nav-link:hover {
    color: #007bff !important;
}

.navItemScroll {
    text-decoration: none;
    color: #000 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.des {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #7f7e7e;
    font-weight: 400;
    line-height: 1.9;
}

/* Summery Section Start */
.summeryBanner {
    background-image: url("../image/banner.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: #4e555b;
    overflow: hidden;
}

.summeryOverlay {
    position: absolute;
    min-height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.summery_section {
    margin-top: 5rem;
}

.countNumber {
    color: #fff;
    font-width: 600;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}

.countTitle {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.countSection {
    margin-top: 16%;
}

.cardTitle {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.cardSubTitle {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.iconBullet {
    color: #0073e6;
    font-size: 16px;
    color: #007bff;
}

.workCard {
    margin-top: 14%;
    padding: 10px;
    border-radius: 2px;
}

/* Summery Section End */

/* Recent Projects */
.projectCard {
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
    -o-box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 115, 230, 0.2);
    border-radius: 2px;
    border: none;
    margin: 2px;
}

.projectCard:hover {
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
    -o-box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 115, 230, 0.2);
}

.projectCardTitle {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.projectCardDes {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
/* Recent Projects end */


/* Courses Component Start */
.courseTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.courseDes {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.courseDetails {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #0073e6;
}

.courseDetails:hover {
    text-decoration: none;
    color: #484848;
}

/* Courses Component End */


/* Video Component Start */
.video_section {
    padding: 100px 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 115, 230, 0.2);
}

.videoTitle {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #0073E6;
    margin-bottom: 2rem;
}

.videoDes {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #484848;
}

.playBtn {
    color: #0073e6;
    cursor: pointer;
    font-size: 48px;
}

/* Video Component End */


/*ClientReview Start*/
.circlaImg {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 3px solid #0073e6;
    border-radius: 50%;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:hover:before {
    color: #0073e6 !important;
}

/*ClientReview End*/